<!DOCTYPE html>
<html lang="en">   
<head>
   {{> ../template/head.hbs}}
   <title>首页-好医网</title>
</head>
<body>
    {{!-- {{> ../template/nav.hbs}} --}}
    {{{nav}}}
    <div class="hello">
        你好啊
    </div>
    <button class="ui primary button">按钮</button>
    <div class="box">
        {{!-- {{> ../template/banner.hbs}} --}}
        {{{banner}}}
    </div>
    {{> ../template/footer.hbs}}  
</body>
</html>