
// 默认全局CSS样式
*
  padding 0
  margin 0
html,body
  // background #eee  
html
  font-size 62.5%
  font-family '宋体'
  color #333
  text-align justify
  word-break break-all
  -webkit-font-smoothing antialiased
  background #eee  
li
  list-style none

button
  cursor pointer
  background #333
  color #fff
  border none
  cursor pointer
  padding 5px

a
  clolr #666  
  text-decoration none
  &:link, &:visited
    color #555

.pointer
  cursor pointer



  