//通过stylus方法处理CSS属性兼容
vendor(prop,args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

border-radius()
  vendor('border-radius',arguments)
box-shadow()
  vendor('box-shadow',arguments)
transition()
  vendor('transition',arguments)


position(prop,args)
  position prop
  if args[0]
    {args[0]} args[1]
  if args[2]
    {args[2]} args[3]

relative()
  position(relative,arguments)
absolute()
  position(absolute,arguments)
fixed()
  position(fixed,arguments)
  