@keyframes enter-to-left{
    from {
        transform:translateX(100%)
    } to {
        transform:translateX(0)
    }
}

@keyframes leave-to-left{
    from {
        transform:translateX(0)
    } to {
        transform:translateX(-100%)
    }
}

@keyframes enter-to-right{
    from {
        transform:translateX(-100%)
    } to {
        transform:translateX(0)
    }
}

@keyframes leave-to-right{
    from {
        transform:translateX(0)
    } to {
        transform:translateX(100%)
    }
}